<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>cn.hu516.finereport.supos.sso</id>
    <name><![CDATA[supOS-OAuth2单点登录插件]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2018-07-31</jartime>
    <vendor>tptj</vendor>
    <description><![CDATA[]]></description>
    <change-notes><![CDATA[]]></change-notes>
    <main-package>cn.hu516</main-package>
    <extra-decision>
<!--        <GlobalRequestFilterProvider class="cn.hu516.oauth2.DecisionDomainLogin"/>-->
        <GlobalRequestFilterProvider class="cn.hu516.oauth2.ReportDomainLogin"/>
        <GlobalRequestFilterProvider class="cn.hu516.oauth2.EntryDomainLogin"/>
    </extra-decision>
    <function-recorder class="cn.hu516.LoginFilter"/>
</plugin>